#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0rem 2rem 1rem;
  text-align: center;
}

header > :first-child {
  max-width: 300px;
}

h1 {
  font-family: "Fredericka the Great", cursive;
  font-size: 3.2em;
  line-height: 1.1;
  margin: 0;
}

.list {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.list-button {
  background: none;
  width: 5rem;
  height: 5rem;
  border: none;
  color: inherit;
  cursor: pointer;
  font: inherit;
  padding: 0.5rem 1rem;
  border-radius: 50%;
  transition: background 0.2s ease;

  &:hover {
    background: rgba(255, 255, 255, 0.1);
    border: 3px solid rgba(255, 255, 255, 0.5);
  }
}
